body{
    padding: 0;
    margin: 0;
    font-family: Kufam;
    background-color: rgb(255, 250, 240);

}
main{
    width: 80%;
    margin: auto;
    box-shadow: 0px 0px 5px grey;
    position: relative;
    background-color: white;
    top: -70px;
    padding-top: 0px;
    background-image: url(images/pexels-simon-lovi-886614858-20082339.jpg);
    background-size: cover; /* Makes the image fit the screen */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */



}

/*SALAH SECTION*/
#info{
    width: 30px;
    height: 30px;
}
#btn-info{
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-left: 10px;
}
#info-content{
    border: none;
    border-radius: 10px;
    width: 50%;
    box-shadow: 0 0 10px black;
    padding: 10px;
    width: 250px;
    height: 300px;
}
.salah-container{
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-top: 10px;
    padding: 0;
    margin: 0;    
}
.info{
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;

}
.info select{
    border: none;
    font-family: Kufam;
    margin-left: 30px;
    background-color: transparent;
    font-size: 19px;

}

.salah{
    display: flex;
}
.box-style{
    flex: 1;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    color: white;
    height: 30vh;
    padding-top: 30px;
   /* padding-top: 100px;*/
}
.fajr {
    background-color: rgb(112, 90, 72);

}
.dhuhr {
    background-color: rgb(207, 167, 66);

}
.asr {
    background-color: rgb(119, 151, 180);

}
.maghrib{
    background-color: rgb(191, 77, 58);

}
.isha  {
    background-color: rgb(57, 56, 56);

}
.salah-icon{
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
}


/*QURAN SECTION*/

.select-container{
display: flex;
justify-content: space-around;
align-items: center;
flex-direction: column;
width: 50%;
margin-bottom: 10px;
}

.select-container select{
height: 30px;
border: none;
border-radius: 10px;
padding: 5px;

}

.select-container{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 80%;
    max-width: 600px;
    margin-bottom: 10px;
}
.select-container select{
    height: 30px;
    border: none;
    padding: 5px;
    width: 100%;

    margin-bottom: 20px;
   
}
audio{
    width: 100%;
    max-width: 600px;
}
#cities{
    min-width: 100px;
}





h2{
    background-color: white;
    width: 100%;
    color: black;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
}



.icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0;

}
.icon{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background-color: white;
}
.icon-btn{
    border: none;
    cursor: pointer;
    padding: 2px;
    margin: 5px;
}
.icon-btn .shadow{
    box-shadow: 0 0 5px black;
}
.content{
    display: none;
    height: 60vh;
}
.content.active{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 50vh;
    padding-bottom: 40px;


}


 .shadow{
    box-shadow: 0 0 5px black;
}
 .none{
    display: none;
}


/*salam section*/

li{
    list-style: none;
}
.salam{
    padding: 10px;


}
.salam-container{
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;

}
.salam-container > p {
    box-shadow: 0 0 5px black;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
h3{
    text-align: center;
}
li{
    font-size: 18px;
} 
.salam-container > p .icon{
    width: 30px;
    height: 30px;
}
/*footer*/
footer {
    background-color: #f8f9fa;
    text-align: center;
    padding: 20px;
    font-size: 14px;
    color: #333;
    border-top: 1px solid #ddd;
}
.logo {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
}
.sources {
    margin-top: 10px;
    font-size: 12px;
    color: #666;
}

@media(max-width: 900px){
    main{
        width: 95%;
        top: -80px;
    }



    .box-style{
        justify-content: start;
        height: 30vh;
        padding-top: 40px;
        padding-bottom: 0;
    }
}
@media(max-width: 400px){
    main{
        width: 95%;
        top: -80px;
    }
    .icon{
        width: 30px;
        height: 30px;
    }
    .box-style{
        justify-content: start;
        height: 30vh;
        padding-top: 30px;
        padding-bottom: 0;
    }
    h3{
        text-align: center;
        font-size: 18px;
    }
    li{
        font-size: 15px;
    } 
}
